.board {
    width: 256px;
    height: 256px;
    border: 1px solid blue;
}

/* cell */
.board div {  
	width: 30px;
	height: 30px;
	border: 1px solid black;
	float: left;
    background-color: #B7B1B1;				
	font-size: 45%;	
	text-align: center;
}
